@import "tailwindcss";

.custom-scroll-text {
  font-size: 2.5rem !important;
  line-height: 1.5;
}



::selection {
  background: #16a34a;
  color: #ffffff;     
}

::-moz-selection {    
  background: #16a34a;
  color: #ffffff;
}


.my-text::selection {
  background: #10b981; 
  color: #ffffff;
}
.my-text::-moz-selection {
  background: #10b981;
  color: #ffffff;
}

input::selection,
textarea::selection {
  background: #16a34a;
  color: #ffffff;
}
input::-moz-selection,
textarea::-moz-selection {
  background: #16a34a;
  color: #ffffff;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 4px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #444444;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2c2c2c #000000;
}


